* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-cont {
    width: 75%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-img-cont {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.upload-img {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-input-image {
    position: absolute;
    max-width: 100%;
    height: 100%;
}

.upload-img:hover {
    opacity: 0.5;
}


.sudoku-container {
    margin: 10px;
    width: 456px;
    height: 456px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.sudoku-cell {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 252, 133);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.sudoku-input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 20px;
    padding: 0;
    margin-top: 10px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    overflow: hidden;
    resize: none;
}

.sudoku-input-solved {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 25px;
    width: 100%;
    height: 20px;
    padding: 0;
    margin-top: 10px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

.sudoku-input:focus {
    outline: none;
    opacity: 0.5;
}

.sudoku-prob {
    font-size: 0.8rem;
}

.sudoku-input::placeholder {
    color: black;
}

.sudoku-row {
    display: flex;
    flex-direction: row;
}

/* Thick border styles */
.thick-bottom-border {
    border-bottom: 3px solid black;
}

.thick-right-border {
    border-right: 3px solid black;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
